<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to my one month python project!</h1>
			<p> My name is Jack Wu. You can find my assignment here: <a href="http://onemonth.com">One Month Assignment</a> </p>
			<a href="{{ url_for('index') }}"> HOME </a>
		</div>
	</div>>
</body>
</html>>